#buttonParametre{
    -fx-graphic: url("../../ressources/images/image.jpeg")
}

#buttonParametre1{
    -fx-graphic: url("../../ressources/images/image.jpeg")
}

#buttonFermer{
    -fx-graphic: url("../../ressources/images/cr.jpeg")
}

#buttonRetour{
    -fx-graphic: url("../../ressources/images/fleche.jpeg")
}
