#labelNomUE{
    -fx-font-size : 36px;
    -fx-text-fill: white; 
}
#labelMention{
    -fx-font-size : 18px;
    -fx-text-fill: white; 
}
#labelParcours{
    -fx-font-size : 18px;
    -fx-text-fill: white; 
}
#labelNiveau{
    -fx-font-size : 18px;
    -fx-text-fill: white; 
}
#labelTaux{
    -fx-font-size : 18px;
    -fx-text-fill: white; 
}
#vbox{
    -fx-padding: 20; 
    -fx-background-color: #212121;
}